{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir unidad</title>
</head>
<body>

<h6>{{ presentacion.descripcion }}</h6>
<form action="{% url 'AddUnidades' presentacionid transaccionid lineaid %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

 <div class="col-lg-12 text-right">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">

        </div>
</form>
</body>
</html>