{% extends '../base.html' %}
{% load staticfiles %}
{% load l10n %}

{% block title %}Asignacion{% endblock %}

{%  if request.session.descripcion != '' %}
    {% block breadcrumb %}
            {% if picking %}
                <li class="breadcrumb-item">Mover</li>
            {% else %}
                <li class="breadcrumb-item">Asignacion</li>
            {% endif %}
            <li class="breadcrumb-item active">{{ request.session.descripcion }}</li>
    {% endblock %}
{% endif %}

{% block content %}
    <div class="row m-4">
    {% for estructura in estructuras %}




        <div class="col-1 m-2 border border-dark rounded ubicacion"  id="{{ estructura.id }}">

        <div><h4>{{ estructura.ubicacion }}</h4></div>
            <div><h6>{{ estructura.raiz }}</h6></div>
            {% if estructura.picking %}
                <div class="text text-info"><h6>Picking</h6></div>
            {% endif %}


        </div>

    {% endfor %}
  </div>





<div class="row m-4">

{% if estructuras.has_other_pages %}
    <nav aria-label="Page Navigation">
        <ul class="pagination">
            {% if estructuras.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ estructuras.previous_page_number }}"> Anterior </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>

            {% endif %}

            {% for i in estructuras.paginator.page_range %}
                {% if estructuras.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>

                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if estructuras.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ estructuras.next_page_number }}">Siguiente</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link" href="#">Siguiente</span></li>
            {% endif %}
      </ul>
    </nav>
{% endif %}


</div>

<div class="modal" tabindex="-1" role="dialog" id="preguntacantidad">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Unidades</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <p>{{ linea.presentacion }}</p>
          {% if maximo > 0 %}
          <p>Maximo numero de unidades: {{ maximo }} </p>
          {% else %}
          <p>Defina el numero de {{ linea.unidad}}{{maximo|pluralize }} por palé</p>
          {% endif %}
          <form>
            <div class="form-group">

                <label for="cantidadunidades">Cantidad de {{ linea.unidad }}{{maximo|pluralize }} ({{ pale}}) por palé </label>

                {% if maximo == 0 %}
                    <input type="number" class="form-control text-left pull-left"  id="cantidadunidades" min="1" value="1">
                {% else %}
                    <input type="number" class="form-control text-left pull-right" id="cantidadunidades" min="1" max="{{ maximo }}" value={{ maximo }}>
                {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="botonasigna">Asignar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>



<script>
var ubi = '';
$("#cantidadunidades").val({{ maximo }})

$(".ubicacion").click(function () {
    ubi = $(this).attr('id');

    {% if maximo > 0 %}
        vurl = location.origin + '/almacen/ubica/' + ubi + '/'+{{ linea.pk }}+'/{{ maximo|floatformat:"0" }}/';
        console.log(vurl);
        window.location.href = vurl;
    {% else %}
        {$('#preguntacantidad').modal('toggle');}
    {% endif %}

})


$("#botonasigna").click(function(){

    var cantidad = $("#cantidadunidades").val();

    if ({{ maximo }} == 0) {
        vurl = location.origin + '/almacen/ubican/' + ubi + '/'+{{ linea.pk }}+
        '/' + cantidad + '/1/';
        console.log(vurl);
        window.location.href = vurl;
    }

    if ({{maximo}}>0 && cantidad <= {{ maximo }}) {
        vurl = location.origin + '/almacen/ubican/' + ubi + '/'+{{ linea.pk }}+
        '/' + cantidad + '/0/';
        console.log(vurl);
        window.location.href = vurl;
    } else {
        alert('Cantidad maxima a asignar superada');
    }

})

</script>

{% endblock %}

