{% load staticfiles %}
<div class="row">
    <div class="col-lg-12 text-left">
        <p><h4 class="text-dark">Descripcion: {{ presentacion.presentacion.descripcion }}  {% if presentacion.ubicacion.picking  %}<img src="{% static '/images/picking.png'%}" alt="Zona Picking" >{% endif %}</h4></p>
        <p></p><h5 class="text-dark">Ubicacion: {{ presentacion.ubicacion.ubicacion }}</h5></p>
        <p>Fecha entrada: {{ presentacion.fecha }}</p>

        Existen {{ presentacion.stock }} {{ presentacion.unidad}}{{presentacion.stock|pluralize }} de {{ presentacion.unidades|floatformat:0 }} unidades con un costo de {% multiplicar presentacion.unidades presentacion.stock presentacion.costo%}




    </div>
</div>

<div class="row">
    <div class="col-lg-12 text-right">


        <a class="btn btn-warning" href="#close" rel="modal:close">Cerrar</a>

    </div>
</div>