{% extends '../base.html' %}
{% load staticfiles %}


{% block title %}Entrada{% endblock %}
{% block stylesheet %}
<script src="{%  static 'js/jquery.modal.min.js'%}"></script>
<link rel="stylesheet" href="{%  static 'css/jquery.modal.min.css'%}" />
{% endblock %}
{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{%   url 'Index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Entradas</li>
        <li class="breadcrumb-item active">Transaccion: {{ transaccion.transaccion }}</li>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2"></div>
            <div class="col-8">
                <h6>
                <span class="text text-info">Transaccion: </span><span>{{ transaccion.transaccion }}   </span>
                <span class="text-info">Fecha: </span><span>{{ transaccion.fecha }}   </span>
                </h6>
            </div>

    </div>

    <div class="row mt-2">
    <div class="col-1"></div>
    <div class="col-10">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Unidad</th>
                    <th>Costo</th>
                    <th>Importe</th>
                    <th>Subtotal</th>
                    <th>Impuestos</th>
                    <th>Total</th>
                    <th>Ubicacion</th>
                </tr>
            </thead>
            <tbody>
            {% for linea in transaccion.entradadetalle_set.all %}
                <tr>
                    <td>{{ linea.linea }}</td>
                    <td>{{ linea.presentacion.codigo }}</td>
                    <td>{{ linea.presentacion.descripcion }}</td>
                    <td>{{ linea.cantidad }}</td>
                    <td>
                        {% if linea.unidad == None %}
                            <a role="button" class="btn btn-dark btn-sm" href="{% url 'AddUnidades' linea.presentacion.codigo transaccion.transaccion linea.id%}" rel="modal:open" >Unidad</a></td>
                        {% else %}
                            {{ linea.unidad }}
                        {% endif %}
                    <td>{{ linea.costo }}</td>
                    <td>{{ linea.importe }}</td>
                    <td>{{ linea.subtotal }}</td>
                    <td>{{ linea.impuestos }}</td>
                    <td>{{ linea.total }}</td>
                    {% if linea.cantidadxasignar == 0%}
                        <td>
                            Asignado
                        </td>
                    {% else %}
                    <td>

                      <a role="button" class="btn btn-dark btn-sm {% if linea.unidad == None %}disabled{% endif %}" href="{% url 'Asigna' linea.presentacion.codigo transaccion.transaccion linea.id%}" >Asigna <span class="badge badge-light">{{ linea.cantidadxasignar }}</span></a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ transaccion.importe }}</td>
                    <td>{{ transaccion.subtotal }}</td>
                    <td>{{ transaccion.impuestos }}</td>
                    <td>{{ transaccion.total }}</td>

                </tr>
            </tfoot>
        </table>

{#     <a class="btn btn-dark btn-sm" role="button"  href="{% url 'AsignaAuto' transaccion.id %}" >Asignacion automatica </a>#}
     <a class="btn btn-dark btn-sm" role="button"  href="{% url 'Entrada' %}" >Otra entrada </a>
     <a class="btn btn-dark btn-sm" role="button"  href="{% url 'Index' %}" >Salir </a>



    </div>

    </div>

<div id="popup"></div>
<script type="text/javascript">


    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 500,
            resizable: false
        }).dialog('open').load(url)
    }

    function cerrar_modal()
    {
        modal.dialog("close");
    }

</script>

{% endblock %}