{% extends '../base.html' %}
{% load staticfiles %}
{% block title %}Error{% endblock %}

{% block content %}

    <div class="row mt-5">

    <div class="col-12 ml-5 mr-5">

        <div class="jumbotron">
            <h4 class="display-4">Error</h4>
            <p class="lead">Error : {{ transa }}{{ texto }}</p>
            <hr class="my-4">
            <p>{{ error }} </p>
            <p class="lead">
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="window.history.go(-1)">Volver</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" onclick="window.print()">Imprimir</button>


            </p>
        </div>
    </div>
</div>






{% endblock content %}