{% extends '../base.html' %}
{% load staticfiles %}
{% load l10n %}

{% block title %}Estructura{% endblock %}

{%  if request.session.descripcion != '' %}
    {% block breadcrumb %}
            <li class="breadcrumb-item">Asignacion</li>
            <li class="breadcrumb-item active">{{ request.session.descripcion }}</li>
    {% endblock %}
{% endif %}

{% block content %}
sssssssssssssssssssssssss
        <div class="row m-4">
            <h2>
            <a href="{% if  estructuras.first.padre.padre.id == None %} {% url 'EstructuraI'%} {% else %} {% url 'Estructura' estructuras.first.padre.padre.id|unlocalize%} {% endif %}">{{ estructuras.first.padre.ubicacion }} </a>
            </h2>
        </div>
    <div class="row m-4">


    {% for estructura in estructuras %}
        <div class="col-1 m-2" {% if estructura.tipo.almacenaje == False %}onclick="window.location.href='{% url 'Estructura' estructura.id%}'"{% endif %}>
        <div><h4>{{ estructura.ubicacion }}</h4></div>
        <div><h6>{{ estructura.tipo }}</h6></div>

        {% if estructura.tipo.almacenaje %}
            Hola
            <div>
                {%  for pre in estructura.presentacionxubicacion_set.all%}
                   <h6>{{ pre.codigo }} - {{ presentacion.descripcion }}</h6>
                {% endfor %}
            </div>
        {% else %}
            {% if estructura.tipo.almacenaje and request.session.idpresentacion%}
                <a type="submit" role="button" class="button btn-sm" href="{% url 'Ubica' estructura.id %}">Seleccionar</a>
            {% endif %}
        {% endif %}


        </div>
    {% endfor %}
    </div>

{% endblock %}

