{% extends '../base.html' %}
{% load staticfiles %}
{% load wms_extras %}
{% load l10n %}

{% block title %}Estructura{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-sm-12 col-md-6">
            <div id="productos_filter" class="filter">
                <label>Buscar:<input id="busca" class="form-control form-control-sm" placeholder="" aria-controls="productos" type="search"></label>
            </div>
        </div>

    </div>
    <div class="row m-4" id="ubicaciones">
        {% for estructura in estructuras %}
            <div class="ubicacion col-2 m-2 border border-dark rounded ">


                <div><h6 class="text-dark">{{ estructura.ubicacion }}</h6><h8>({{ estructura.ubicacion.raiz }})</h8></div>
                <div><h8 class="text-primary">{{ estructura.presentacion.descripcion }}</h8><h10> ({{ estructura.presentacion_id }})</h10></div>
                <div><h8 class="text-dark">Stock: {{ estructura.stock}} {{ estructura.unidad }} <h7>({{ estructura.unidades|floatformat}})</h7></h8></div>
                <div><h9 class="text-dark">Unidades:  {% multiplicar estructura.unidades estructura.stock %} </h9></div>
                {% localize on %}
                <div><h9 class="text-dark">Costo: {% multiplicar estructura.unidades estructura.stock estructura.costo%}/{{ estructura.costo }}</h9></div>
                {% endlocalize %}
                <div><h8 class="text-secondary">{{ estructura.fecha }}</h8></div>

                {% if estructura.ubicacion.picking %}
                    <div class="text-info"><h7>Picking</h7></div>
                {% else %}
                    <div class="text text-info"><h6>       </h6></div>
                {% endif %}

            </div>

        {% endfor %}
    </div>

<div class="row">

{% if estructuras.has_other_pages %}
<nav aria-label="Navigation>
    <ul class="pagination">
        {% if estructuras.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ estructuras.previous_page_number }}">Anterior</a></li>
        {% else %}
            <li class="page-item disabled"><span>Anterior</span></li>
        {% endif %}

        {% for i in estructuras.paginator.page_range %}
            {% if estructuras.number == i %}
                <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if estructuras.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ estructuras.next_page_number }}">Siguiente</a></li>
        {% else %}
          <li class="page-item disabled"><span>Siguiente</span></li>
        {% endif %}
      </ul>
    </nav>
{% endif %}


</div>


<script>
$(document).ready(function(){
  $("#busca").on("keyup", function() {
    var value = $(this).val().toLowerCase();

    $("#ubicaciones div.ubicacion.col-2.m-2.border.border-dark.rounded").filter(function() {
        console.log(value)
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


{% endblock %}
