
<form role="form" action="{% url 'crear_linea' %}" method="post">
    {% csrf_token %}
	<div class="panel panel-default">
		<div class="panel-body">
			{{ form.as_p }}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 text-right">
			<input type="submit" class="btn btn-primary" name="submit" value="Guardar">
			<button type="button" class="btn btn-default" onclick="return cerrar_modal()">
				Cancelar
			</button>
		</div>
	</div>
</form>