{% extends '../base.html' %}
{% load staticfiles %}
{% load l10n %}

{% block title %}Asignacion{% endblock %}

{%  if request.session.descripcion != '' %}
    {% block breadcrumb %}
            {% if picking %}
                <li class="breadcrumb-item">Mover</li>
            {% else %}
                <li class="breadcrumb-item">Asignacion</li>
            {% endif %}
            <li class="breadcrumb-item active">{{ request.session.descripcion }}</li>
    {% endblock %}
{% endif %}

{% block content %}
    <div class="row m-4">
    {% for estructura in estructuras %}

        <div class="col-1 m-2 border border-dark rounded ubicacion"  id="{{ estructura.id }}">

        <div><h4>{{ estructura.ubicacion }}</h4></div>
            <div><h6>{{ estructura.raiz }}</h6></div>
            {% if estructura.picking %}
                <div class="text text-info"><h6>Picking</h6></div>
            {% endif %}
            <a type="button" role="button" class="btn btn-sm" href="{% url 'Mover' origen estructura.id %}">Mover</a>
{#            {% else %}#}
{#                <a type="submit" role="button" class="btn btn-sm" href="{% url 'Ubica' estructura.id idlinea%}" rel="modal:open">Asignar</a>#}

{#            {% endif %}#}

        </div>

    {% endfor %}
  </div>





<div class="row m-4">

{% if estructuras.has_other_pages %}
    <nav aria-label="Page Navigation">
        <ul class="pagination">
            {% if estructuras.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ estructuras.previous_page_number }}"> Anterior </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>

            {% endif %}

            {% for i in estructuras.paginator.page_range %}
                {% if estructuras.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>

                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if estructuras.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ estructuras.next_page_number }}">Siguiente</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link" href="#">Siguiente</span></li>
            {% endif %}
      </ul>
    </nav>
{% endif %}


{% endblock %}

