{% extends '../base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Movimiento{% endblock %}
{% block stylesheet %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}
{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{%   url 'Index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Movimientos</li>
        <li class="breadcrumb-item active">Movimiento</li>

{% endblock %}

{% block content %}


<form role="form" action="{% url 'CreaMovimiento' %}" method="post" id="myForm">
        <h3>Crear Movimiento</h3>
        {% csrf_token %}
        <div class="row mb-2">
            <div class="col-6">
                {{ form.as_p }}
            </div>
        </div>
            {{ formset.management_form }}
            <table id="id_forms_table" class="table-sm ">
                <thead>
                    <tr>

                        <th scope="col">Presentacion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Unidad</th>
                        <th scope="col">Ubicacion</th>

                        <th scope="col"></th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for linea_detalle in formset  %}
                        <tr>
                            <td>
                              {% if linea_detalle.presentacion.erros %}
                                {% for error in linea_detalle.presentacion.erros %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                            </button>
                                            <strong>Error: </strong> {{ error|escape }}
                                    </div>
                                {% endfor %}
                              {% endif %}
                              {{linea_detalle.presentacion }}

                            </td>
                            <td>
                                 {% if linea_detalle.cantidad.erros %}
                                    {% for error in linea_detalle.cantidad.erros %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>Error: </strong> {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {{linea_detalle.cantidad }}

                            </td>
                            <td>
                                 {% if linea_detalle.unidad.erros %}
                                    {% for error in linea_detalle.unidad.erros %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>Error: </strong> {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {{linea_detalle.unidad }}

                            </td>
                            <td>
                                 {% if linea_detalle.ubicacion.erros %}
                                    {% for error in linea_detalle.ubicacion.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>Error: </strong> {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {{linea_detalle.ubicacion }}

                            </td>
                           

                            <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                        </tr>

                </tbody>
            </table>
         {{ linea_movimiento_form_Set.management_form }}

        {% endfor %}


        <div class="col-lg-12 text-right">
            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
            <a type="button" class="btn btn-default" href="{% url 'Pedidos' %}">Cancelar</a>
        </div>
</form>
<div id="popup"></div>
<script type="text/javascript">



   $('#myForm tbody tr').formset({
            prefix: '{{ formset.prefix }}',
            addText: 'Añadir',
            deleteText: 'Borrar',
            deleteCssClass: 'btn btn-danger',
            addCssClass: 'btn btn-primary'


        });
</script>
{{ form.media }}
{% endblock %}