{% extends '../base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Movimiento{% endblock %}
{% block stylesheet %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}
{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{%   url 'Index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Movimientos</li>
        <li class="breadcrumb-item active">Movimiento</li>

{% endblock %}

{% block content %}
    <h3>Crear Movimiento</h3>
    {% csrf_token %}


    <table id="id_forms_table" class="table-sm ">
        <thead>
            <tr>

                <th scope="col">Presentacion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Unidad</th>
                <th scope="col">Ubicacion</th>

                <th scope="col"></th>

            </tr>
        </thead>
    <tbody>

    {% for linea in cabecera_movimientolin_set_all %}
    <tr>
        <td>{{ linea.presentacion }}</td>
        <td>{{ linea.cantidad }}</td>
        <td>{{ linea.presentacion }}</td>
        <td>{{ linea.ubicacion }}</td>
    </tr>
    {% endfor %}
    {% csrf_token %}
    <form role="form"  method="post" id="myForm">
        <tr>
            <td>
              {% if form.presentacion.erros %}
                {% for error in form.presentacion.erros %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Error: </strong> {{ error|escape }}
                    </div>
                {% endfor %}
              {% endif %}
              {{form.presentacion }}

            </td>
            <td>
                 {% if form.cantidad.erros %}
                    {% for error in form.cantidad.erros %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Error: </strong> {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{form.cantidad }}

            </td>
            <td>
                 {% if form.unidad.erros %}
                    {% for error in form.unidad.erros %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Error: </strong> {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{form.unidad }}

            </td>
            <td>
                 {% if form.ubicacion.erros %}
                    {% for error in form.ubicacion.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Error: </strong> {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{form.ubicacion }}

            </td>


            <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
        </tr>

    </tbody>
</table>

        <div class="col-lg-12 text-left">
            <input type="submit" class="btn btn-primary" name="submit" value="Añadir">
        </div>
</form>
<a role="button" class="btn btn-primary" href="{% url 'Movimientos' %}">Salir</a>

{{ form.media }}

{% endblock %}