{% extends '../base.html' %}
{% load staticfiles %}


{% block title %}Movimiento{% endblock %}
{% block stylesheet %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}
{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{%   url 'Index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Movimientos</li>
        <li class="breadcrumb-item active">Movimiento</li>

{% endblock %}

{% block content %}

<div class="row mb-2">
    <div class="col-2">
        <div><h6>Tipo movimiento: </h6>{{ movimiento.tipo }}</div>

    </div>
    <div class="col-3">
        <div><h6>Fecha: </h6>{{ movimiento.fecha }}</div>
    </div>
</div>

<div class="row mb-2">
    <table class="table table-sm">
        <thead>
            <tr>

                <th scope="col">Presentacion</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Unidad</th>
                <th scope="col">Importe</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Tipo Impuesto</th>
                <th scope="col">Impuestos</th>
                <th scope="col">Total</th>
                <th scope="col">Ubicacion</th>

        </tr>
    </thead>
        <tbody>
            {% for linea in movimiento.movimientolin_set.all  %}
            <tr>
                <td>{{linea.presentacion }}</td>
                <td>{{linea.cantidad }}</td>
                <td>{{linea.unidad }}</td>
                <td>{{linea.importe }}</td>
                <td>{{linea.subtotal }}</td>
                <td>{{linea.tipoimpuesto }}</td>
                <td>{{linea.impuestos }}</td>
                <td>{{linea.total}}</td>
                <td>{{linea.ubicacion }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="row mb-2">
    <div class="col-2">
            <div><h6>Importe: </h6>{{ movimiento.importe }}</div>
    </div>
    <div class="col-2">
            <div><h6>Impuestos: </h6>{{ movimiento.impuestos }}</div>
    </div>
    <div class="col-2">
            <div><h6>Total: </h6>{{ movimiento.total }}</div>
    </div>


</div>

<a type="button" class="btn btn-default" href="{% url 'Movimientos' %}">Volver</a>


{% endblock %}