{% extends '../base.html' %}
{% load staticfiles %}


{% block title %}Entrada{% endblock %}
{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{%   url 'Index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Movimientos</li>

{% endblock %}

{% block content %}
    <div class="row m-4">
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12" >
{#                <a href="{% url 'Movimiento' %}" class="btn btn-primary">#}
            <a href="{% url 'CreaMovimiento' 1 %}" class="btn btn-primary">Nueva Entrada</a></div>
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
{#                <a href="{% url 'Movimiento' %}" class="btn btn-primary">#}
            <a href="{% url 'CreaMovimiento' 0 %}" class="btn btn-primary">Nueva Salida</a></div>
    </div>
    <div class="row m-4">
        <div class="col-lg-12">
            <table id="pedidos" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Fecha</th>
                            <th>Importe</th>
                            <th>Subtotal</th>
                            <th>Impuestos</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movimiento in movimientos %}
                        <tr>
                            <td>{{ movimiento.tipo }}</td>
                            <td>{{ movimiento.fecha }}</td>
                            <td>{{ movimiento.importe }}</td>
                            <td>{{ movimiento.subtotal }}</td>
                            <td>{{ movimiento.impuestos }}</td>
                            <td>{{ movimiento.total }}</td>
                            <th><a href="{%  url 'DetalleMovimiento' movimiento.pk %}" class="btn btn-primary btn-sm" role="button">Detalle</a> </th>

                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
<script>
    $(document).ready(function () {
     $('#pedidos').DataTable({
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "Todos"] ],
        pageLength: 25,
        language: {
            "decimal":        "",
            "emptyTable":     "No hay datos",
            "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "infoEmpty":      "Mostrando 0 de 0 de 0 registros",
            "infoFiltered":   "(filtrado para _MAX_ total de registros)",
            "infoPostFix":    "",
            "thousands":      ",",
            "loadingRecords": "Cargando...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "zeroRecords":    "No se han encontrado registros",
            "paginate": {
                "first":      "Primero",
                "last":       "Ultimo",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": activar para ordenar la columna ascendentemente",
                "sortDescending": ": activar para ordenar la columna descendentemente"
            },

        },

        }
    );

});
</script>

{% endblock %}