{% extends '../base.html' %}
{% load staticfiles %}


{% block title %}Entrada{% endblock %}
{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{%   url 'Index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Pedidos</li>

{% endblock %}

{% block content %}
    <div class="row m-4">
        <div class="col-lg-10">
                <a href="{% url 'Pedido' %}" class="btn btn-primary">
                        Nuevo
                </a>
        </div>
    </div>
    <div class="row m-4">
        <div class="col-lg-12">
            <table id="pedidos" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hotel</th>
                            <th>Transaccion</th>
                            <th>Documento</th>
                            <th>Almacen destino</th>
                            <th>Estado</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for linea in pedidos %}
                        <tr>
                            <td>{{ linea.fecha }}</td>
                            <td>{{ linea.hotel }}</td>
                            <td>{{ linea.transaccion }}</td>
                            <td>{{ linea.documento }}</td>
                            <td>{{ linea.almadest }}</td>
                            <td>{{ linea.get_estado_display  }}</td>
                            <td>
                                <a href="{% url 'VerPedido' linea.pk %}" class="btn btn-primary btn-sm btn-block" role="button">Ver</a>
                            </td>
                            <td>
                                <a href="{% url 'EditarPedido' linea.pk%}" class="btn btn-primary btn-sm btn-block {% if linea.estado != 'P' %}disabled{% endif %}" role="button">Editar</a>

                            </td>
                            <td>
                                <a href="{% url 'ProcesaPedido' linea.pk %}" class="btn btn-danger btn-sm btn-block {% if linea.estado != 'P' %}disabled{% endif %}" role="button" >Procesar</a>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
<script>
    $(document).ready(function () {
     $('#pedidos').DataTable({
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "Todos"] ],
        pageLength: 25,
        language: {
            "decimal":        "",
            "emptyTable":     "No hay datos",
            "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "infoEmpty":      "Mostrando 0 de 0 de 0 registros",
            "infoFiltered":   "(filtrado para _MAX_ total de registros)",
            "infoPostFix":    "",
            "thousands":      ",",
            "loadingRecords": "Cargando...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "zeroRecords":    "No se han encontrado registros",
            "paginate": {
                "first":      "Primero",
                "last":       "Ultimo",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": activar para ordenar la columna ascendentemente",
                "sortDescending": ": activar para ordenar la columna descendentemente"
            },

        },

        }
    );

});
</script>

{% endblock %}