{% extends '../base.html' %}
{% load staticfiles %}


{% block title %}Pedido {{ pedido.pk }}{% endblock %}

{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{%   url 'Index' %}">Inicio</a></li>
        <li class="breadcrumb-item "><a href="{%   url 'Pedidos' %}">Pedidos</a></li>
        <li class="breadcrumb-item active">Pedido {{ pedido.pk }}</li>

{% endblock %}

{% block content %}
<hr style="width: 90%; color: gray; height: 1px; background-color:lightgrey;" />

<div class="row">
    <div class="col-5 offset-1">
        <dl class="row">
            <dt class="col-sm-2">Pedido:</dt>
            <dd class="col-sm-9">{{ pedido.pk }}</dd>

            <dt class="col-sm-2">Fecha:</dt>
            <dd class="col-sm-9">{{ pedido.fecha }}</dd>

            <dt class="col-sm-2">Estado:</dt>
            <dd class="col-sm-9">{{ pedido.get_estado_display }}</dd>

             <dt class="col-sm-2"></dt>
            <dd class="col-sm-9"></dd>

        </dl>
    </div>
    <div class="col-5 ">
        <dl class="row">
            <dt class="col-sm-2">Hotel:</dt>
            <dd class="col-sm-9">{{ pedido.hotel }}</dd>

            <dt class="col-sm-2">Transaccion:</dt>
            <dd class="col-sm-9">{{ pedido.transaccion }}</dd>

            <dt class="col-sm-2">Documento:</dt>
            <dd class="col-sm-9">{{ peddo.documento }}</dd>

            <dt class="col-sm-2">Destino:</dt>
            <dd class="col-sm-9">{{ pedido.almadest}}</dd>
        </dl>
    </div>
</div>
<hr style="width: 90%; color: gray; height: 1px; background-color:lightgrey;" />


<div class="row mt-2">
    <div class="col-10 offset-1">
        <table id="id_forms_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text text-sm-left">Presentaccion</th>
                    <th class="text text-sm-left">Cantidad Cielo</th>
                    <th class="text text-sm-left">Unidad Cielo</th>
                    <th class="text text-sm-left">Unidad Salida</th>
                    <th class="text text-sm-right">Unidades</th>
                    <th class="text text-sm-left">Ubicacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    {% for linea in pedido.pedidodetalle_set.all %}
                    <tr >
                        <td>
                            {{ linea.presentacion }}
                        </td>
                        <td>
                            {{ linea.cantidadcielo }}

                        </td>
                        <td>
                            {{ linea.unidadcielo }}

                        </td>
                        <td>
                            {{ linea.unidad }}

                        </td>
                        <td>
                            {{ linea.cantidad }}

                        </td>
                        <td>
                            {{ linea.ubicacion }}


                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
             </tbody>
        </table>
    </div>
</div>

<div class="row mt-1">
<div class="col-10 offset-1">
    <span class="col-8 text-left">
        <a class="btn btn-primary"  href="{% url 'Pedidos' %}" role="button">Volver</a>

        <button class="btn btn-primary" onclick="window.print();" >Imprimir</button>
    </span>

    {% if pedido.estado == 'P' %}
    <span class="col-2 text-left">

        <a class="btn btn-danger"  href="{% url 'CancelaPedido' pedido.pk%}" role="button">Cancelar</a>
        <a class="btn btn-success"  href="{% url 'ProcesaPedido' pedido.pk%}" role="button">Procesar</a>
    </span>
    {% endif %}
</div>
</div>


        <div id="popup"></div>



<script type="text/javascript">




    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 500,
            resizable: false
        }).dialog('open').load(url)
    }

    function cerrar_modal()
    {
        modal.dialog("close");
    }



</script>




{% endblock %}