{% extends '../base.html' %}
{% load staticfiles %}


{% block title %}Pedido{% endblock %}
{% block stylesheet %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}
{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{% url 'Index' %}">Inicio</a></li>
       <li class="breadcrumb-item "><a href="{% url 'Pedidos' %}">Pedidos</a></li>
        <li class="breadcrumb-item active">Pedido</li>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-1"></div>
<div class="col-10">
    <form role="form" action="{% url 'Pedido' %}" method="post" id="myForm">
            <h3>Crear Pedido</h3>


            {% csrf_token %}
                <div class="row mt-2">
                        <div class="col-4">
                            <div class="form-group">
                            {{ form.hotel.label_tag }}
                            {{ form.hotel.errors }}
                            {{ form.hotel }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                {{ form.transaccion.label_tag }}
                                {{ form.transaccion.errors }}
                                {{ form.transaccion }}
                            </div>
                        </div>
                </div>
                <div class="row mt-1">
                        <div class="col-4">
                            <div class="form-group">
                            {{ form.documento.label_tag }}
                            {{ form.documento.errors }}
                            {{ form.documento }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                {{ form.almadest.label_tag }}
                                {{ form.almadest.errors }}
                                {{ form.almadest }}
                            </div>
                        </div>
                </div>
                <div class="row mt-1">
                    <div class="col-10">
                        <table id="id_forms_table" class="table-sm ">
                            <thead>
                                <tr>
                                    <th>Presentaccion</th>
                                    <th>Cantidad Cielo</th>
                                    <th>Unidad Cielo</th>
                                    <th>Unidad Salida</th>
                                    <th>Unidades</th>
                                    <th>Ubicacion</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ formset.management_form }}
                                {% for linea in formset%}

                                <tr >
                                    <td>
                                        {{ linea.presentacion }}
                                        {% if linea.presentacion.errors %}
                                            {% for error in linea.presentacion.errors  %}
                                                {{ error|escape }}
                                            {% endfor %}
                                         {% endif %}
                                    </td>
                                    <td>
                                        {{ linea.cantidadcielo }}
                                        {% if linea.cantidadcielo.errors %}
                                            {% for error in linea.cantidadcielo.errors  %}
                                                <>{{ error|escape }}<>
                                            {% endfor %}
                                         {% endif %}
                                    </td>
                                    <td>
                                        {{ linea.unidadcielo }}
                                        {% if linea.unidadcielo.errors %}
                                            {% for error in linea.unidadcielo.errors  %}
                                                {{ error|escape }}
                                            {% endfor %}
                                         {% endif %}
                                    </td>
                                    <td>
                                        {{ linea.unidad }}
                                        {% if linea.unidad.errors %}
                                            {% for error in linea.unidad.errors  %}
                                                {{ error|escape }}
                                            {% endfor %}
                                         {% endif %}
                                    </td>
                                    <td>
                                        {{ linea.cantidad }}
                                        {% if linea.cantidad.errors %}
                                            {% for error in linea.cantidad.errors  %}
                                                {{ error|escape }}
                                            {% endfor %}
                                         {% endif %}
                                    </td>
                                    <td>
                                        {{ linea.ubicacion }}
                                        {% if linea.ubicacion.errors %}
                                            {% for error in linea.ubicacion.errors  %}
                                                {{ error|escape }}
                                            {% endfor %}
                                         {% endif %}

                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                             </tbody>
                        </table>
                    </div>
                </div>

                <div class="row mt-1">


                    <div class="col-lg-12 text-right">
                        <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                        <a type="button" class="btn btn-default" href="{% url 'Pedidos' %}">Cancelar</a>
                    </div>
                </div>
    </form>



        <div id="popup"></div>

</div>
</div>


<script type="text/javascript">




    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 500,
            resizable: false
        }).dialog('open').load(url)
    }

    function cerrar_modal()
    {
        modal.dialog("close");
    }

   $('#myForm tbody tr').formset({
            prefix: '{{ formset.prefix }}',
            addText: 'Añadir',
            deleteText: 'Borrar',
            deleteCssClass: 'btn btn-danger',
            addCssClass: 'btn btn-primary'

        });


    // Lo del body se necesita para que funcione con los controles creados dinamicamente
    $("body").on("focusout",".presentacion",function () {
    //$("#id_pedidodetalle_set-0-presentacion").change(function () {
      //console.log(this.id)
      var indice = (this.id).match(/\-(.*?)-/);
      var destino = '#id_{{ formset.prefix }}-'+indice[1]+'-unidad';
      var destino2 = '#id_{{ formset.prefix }}-'+indice[1]+'-unidadcielo';
      if (this.value) {
         var presentacionid = $(this).val();
         var url = location.origin +'/almacen/queryundsxpre/'+presentacionid+'/S/1/';
          $.get(url, function (data) {
              $(destino).html(data);
          });

         var url = location.origin +'/almacen/queryundsxpre/'+presentacionid+'/B/2/';
          $.get(url, function (data) {
              $(destino2).html(data);
          });
      }

    });

    $("body").on("focusout",".cantidadcielo",function () {
        var indice = (this.id).match(/\-(.*?)-/);
        var presentacion = '#id_{{ formset.prefix }}-'+indice[1]+'-presentacion';
        console.log('Presentacion:'+$(presentacion).val())
        var unidadcielo = '#id_{{ formset.prefix }}-'+indice[1]+'-unidadcielo';
        console.log('Unidad Cielo:'+$(unidadcielo).val())
        var unidad = '#id_{{ formset.prefix }}-'+indice[1]+'-unidad';
        console.log('Unidad:'+$(unidad).val())
        var destino = '#id_{{ formset.prefix }}-'+indice[1]+'-cantidad';
        console.log('destino:'+destino)
        var cantidad = $(this).val();
        console.log('Cantidad:'+cantidad)

        if (cantidad > 0) {
             var url = location.origin +'/almacen/conversion/'+$(presentacion).val()+'/'+$(unidad).text()+'/'+$(unidadcielo).text()+'/'+cantidad+'/' ;
             console.log(url);
             $.getJSON(url,function (data) {
             console.log(data.cantidad);
             $(destino).val(data.cantidad);
        });

        };
        // conversion / presentacionid / unidad1 / unidad2 / cantidad /
    });

$("body").on("focusout",".unidad",function () {
    //$("#id_pedidodetalle_set-0-presentacion").change(function () {
      console.log('Unidades ______________________________________')
      console.log(this.value)

      if (this.value) {
        var indice = (this.id).match(/\-(.*?)-/);
        var destino = 'id_{{ formset.prefix }}-'+indice[1]+'-ubicacion';
        var origen = 'id_{{ formset.prefix }}-'+indice[1]+'-presentacion';
        var presentacionid = $('#'+origen).val()


        var url = location.origin +'/almacen/queryubicacion/'+presentacionid+'/';

        console.log('Url :'+url)
        console.log('Destino:'+destino);
        $.getJSON(url,function (data) {
            console.log(data.ubicacion);

            $('#'+destino).val(data.ubicacion);

        });

      }


    });

</script>




{% endblock %}