{% extends '../base.html' %}
{% load staticfiles %}
{% load l10n %}

{% block title %}Productos{% endblock %}
{% block stylesheet %}
<script src="{%  static 'js/jquery.modal.min.js'%}"></script>
<link rel="stylesheet" href="{%  static 'css/jquery.modal.min.css'%}" />
{% endblock %}

{% block content %}
    <div class="row m-4">
    {% if productos %}
            <table id="productos" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Ubicacion</th>
                            <th>Fecha</th>

                            <th><img src="{% static '/images/detalle.png' %}" ></th>
                            <th><img src="{% static '/images/mover.png' %}" ></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                            <tr>
                                <td>{{ producto.presentacion.codigo }}</td>
                                <td>{{ producto.presentacion.descripcion }}</td>
                                <td>{{ producto.ubicacion.ubicacion }}{% if producto.ubicacion.picking  %} - <img src="{% static '/images/picking.png'%}" alt="Zona Picking" >{% endif %}</td>
                                <td>{{ producto.fecha }}</td>
                                <td> <a  href="{% url 'DetalleUbicacion' producto.id %}" rel="modal:open" class="btn btn-sm btn-outline-dark mx-auto d-block" role="button"type="but">Detalle</a></td>
                                <td> <a class="btn btn-sm btn-outline-dark mx-auto d-block" role="button" href="{% url 'MoverSel' producto.pk%}">Mover</a> </td>
{#                                <td><a onclick="abrir_modal('{% url 'VaciarUbicacion' producto.id %}','Vaciar')" class="btn btn-sm btn-outline-dark mx-auto d-block" href="#"><img src="{% static '/images/vaciar.png' %}" alt="Vaciar"></a></td>#}

                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
    {% else %}
            <div class="alert alert-success" role="alert">
                No hay productos
            </div>
    {% endif %}


    </div>



<!-- Modal -->
    <div id="popup"></div>





<script>

var modal;
function abrir_modal(url, titulo)
{
    console.log(url)
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 600,
        resizable: false
    }).dialog('open').load(url)

}

function cerrar_modal()
{
    modal.dialog("close");
}



 $(document).ready(function () {
     $('#productos').DataTable({
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "Todos"] ],
        pageLength: 25,
        language: {
            "decimal":        "",
            "emptyTable":     "No hay datos",
            "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "infoEmpty":      "Mostrando 0 de 0 de 0 registros",
            "infoFiltered":   "(filtrado para _MAX_ total de registros)",
            "infoPostFix":    "",
            "thousands":      ",",
            "loadingRecords": "Cargando...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "zeroRecords":    "No se han encontrado registros",
            "paginate": {
                "first":      "Primero",
                "last":       "Ultimo",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": activar para ordenar la columna ascendentemente",
                "sortDescending": ": activar para ordenar la columna descendentemente"
            },

        },

        }
    );

});

</script>


{% endblock %}