{% extends '../base.html' %}
{% load staticfiles %}


{% block content %}
<div class="row">
    <div class="col-4"></div>
            <div class="col-4">
                <h1>{{ tipo }}</h1>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
        <div class="col-4">
            <form>
                 <input type="text"  name="transaid" id="idtransa" class="form-control tel" value="" />
                 <a class="btn btn-secondary btn-lg" href="#" onclick="recupera({% if tipo == 'Entradas' %}'1'{% else %}'0'{% endif %})">Importar</a>
           </form>
        </div>
</div>

<script>
    function recupera(vtipo){
        transa = $("#idtransa").val();
        if (transa != '') {
            console.log(transa);


            var url = 'http://' + location.hostname + ':' + location.port + '/almacen/recupera/' + transa + '/'+vtipo+'/';
            console.log(url);
            window.location.replace(url);
        } else {
            $("#idtransa").focus();
        }
    }



</script>
{% endblock content %}