{% extends '../base.html' %}
{% load staticfiles %}


{% block title %}Entrada{% endblock %}
{% block breadcrumb %}

        <li class="breadcrumb-item"><a href="{%   url 'Index' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Salidas</li>
        <li class="breadcrumb-item active">Transaccion: {{ transaccion.transaccion }}</li>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-1"></div>
            <div class="col-8">
                <h6>
                <span class="text text-info">Transaccion: </span><span>{{ transaccion.transaccion }}   </span>
                <span class="text-info">Fecha: </span><span>{{ transaccion.fecha }}   </span>
                </h6>
            </div>

    </div>

    <div class="row mt-2">
    <div class="col-1"></div>
    <div class="col-10">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th>Importe</th>
                    <th>Subtotal</th>
                    <th>Impuestos</th>
                    <th>Total</th>
                    <th>Ubicacion</th>
                </tr>
            </thead>
            <tbody>
            {% for linea in transaccion.entradadetalle_set.all %}
                <tr>
                    <td>{{ linea.linea }}</td>
                    <td>{{ linea.presentacion.codigo }}</td>
                    <td>{{ linea.presentacion.descripcion }}</td>
                    <td>{{ linea.cantidad }}</td>
                    <td>{{ linea.costo }}</td>
                    <td>{{ linea.importe }}</td>
                    <td>{{ linea.subtotal }}</td>
                    <td>{{ linea.impuestos }}</td>
                    <td>{{ linea.total }}</td>
                    {% if linea.ubicacion != None%}
                        <td>
                            {{ linea.ubicacion }}
                        </td>
                    {% else %}
                    <td>
                      No existe
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ transaccion.importe }}</td>
                    <td>{{ transaccion.subtotal }}</td>
                    <td>{{ transaccion.impuestos }}</td>
                    <td>{{ transaccion.total }}</td>

                </tr>
            </tfoot>
        </table>

     <a class="btn btn-primary btn-sm" role="button"  href="#"  onclick="window.print()">Imprimir</a>

     <a class="btn btn-dark btn-sm" role="button"  href="{% url 'Salida' %}" >Otra salida </a>
     <a class="btn btn-dark btn-sm" role="button"  href="{% url 'Index' %}" >Salir </a>

    </div>

    </div>



{% endblock %}