{% load staticfiles %}

<div class="row">
    <div class="col-lg-12 text-right">
        <h1 class="text-dark">{{ presentacion.presentacion.descripcion }}</h1>
        <h2 class="text-dark">{{ presentacion.ubicacion.ubicacion }}</h2>
        <p class="lead">
            Este proceso vacia la ubicación, para poder ser usada.
            Solo se debe de vaciar la ubicación cuando se haya agotado el producto que había en ella.
        </p>

    </div>
</div>
<div class="row">
    <p class="text-xl-center text-danger">¿Esta seguro?</p>
    <div class="col-lg-12 text-right">
        
        <a class="btn btn-danger" role="button" href="{% url 'VaciaUbicacion' presentacion.id %}">Sí, estoy seguro</a>

        <a class="btn btn-default" href="#close" rel="modal:close">No</a>
    </div>
</div>