{% load staticfiles %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>


    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css'%}"/>


    <script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>


    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-es-SP.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js'%}"></script>


    {% block stylesheet %}{% endblock %}
      <!-- HERE -->
  </head>
  <body class="bg">

  {% block body %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logooasis.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Oasis Hoteles
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


            <div class="collapse navbar-collapse" id="mainMenu">
            {% if user.is_authenticated %}
                <ul class="navbar-nav">

                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'Index' %}">Home</a>
                    </li>


                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Almacen</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'Entrada' %}">Entradas</a>
{#                          <a class="dropdown-item" href="{% url 'Salida' %}">Salidas</a>#}
                          <a class="dropdown-item" href="{% url 'Productos' %}">Productos</a>
                          <a class="dropdown-item" href="{% url 'Pedidos' %}">Pedidos</a>
                          <a class="dropdown-item" href="#">Informes</a>
                        </div>
                    </li>

                </ul>
            {% endif %}
                {% if user.is_authenticated %}


                      <div class="dropdown ml-auto">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ user.username }}
                                <span class="caret"></span>
                            </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{% url 'logout'%}">Logout</a></li>
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>

                          </ul>
                      </div>

                {% else %}
                    <form class="form-inline ml-auto">
                      <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                    </form>
                {% endif %}
            </div>

      </nav>


        <ol class="breadcrumb my-4">
           <li class="breadcrumb-item">{{ request.session.almacen }}</li>
          {% block breadcrumb %}
          {% endblock %}
        </ol>

        <div class="container-fluid">
        {% block content%}
        {% endblock %}
        </div>

     {% block jscript %}{% endblock jscript %}
    {% endblock body %}


  </body>
</html>